.cart-wrapper{
padding:20px;
max-width:700px;
margin:auto;
height: 100vh;
}

.cart-title{
font-size:26px;
font-weight:600;
margin-bottom:20px;
}

.empty{
text-align:center;
margin-top:100px;
color:gray;
}

.cart-card{
display:flex;
align-items:center;
gap:15px;
padding:15px;
margin-bottom:15px;
background:white;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,0.08);
position:relative;
}

.food-img{
width:90px;
height:90px;
object-fit:cover;
border-radius:10px;
}

.food-info{
flex:1;
}

.price{
color:#ff4d4d;
font-weight:600;
}

.qty-box{
display:flex;
align-items:center;
gap:10px;
margin-top:8px;
}

.qty-box button{
width:28px;
height:28px;
border:none;
border-radius:50%;
background:#eee;
cursor:pointer;
font-weight:bold;
}

.remove-btn{
position:absolute;
right:10px;
top:10px;
border:none;
background:none;
font-size:18px;
cursor:pointer;
color:gray;
}

.bottom-bar{
position:sticky;
bottom:0;
background:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 -3px 10px rgba(0,0,0,0.1);
margin-top:30px;
border-radius:12px;
}

.order-btn{
background:#ff4d4d;
color:white;
border:none;
padding:12px 25px;
border-radius:8px;
font-weight:600;
cursor:pointer;
}
